# Visual Studio
.vs/
*.VC.db
*.VC.VC.opendb

# Build folders
build/
out/
cmake-build-*/
x64/
x86/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Compiled output
*.exe
*.obj
*.dll
*.pdb
*.ilk
*.lib

# Logs
*.log

# User files
*.user
*.suo

# Misc
.DS_Store